{% extends 'base.html' %}

{% block content %}
<div class = "card">
<div class="card-body">
 <h4> Lista de Condomínios </h4>
 <hr>
<a class="btn btn-success" href="{% url 'cond_add' %}"> Inserir </a>
  <table class = "table table-striped">
      <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Logradouro</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Ações</th>
        </tr>
      </thead>
      <tbody>
         {%  for condominio in condominio %}
         <tr>
             <td>{{ condominio.id  }} </td>
             <td>{{ condominio.nome }}</td>
             <td>{{ condominio.endereco }}</td>
             <td>{{ condominio.cidade }}</td>
             <td>{{ condominio.uf }}</td>
             <td><a class ="btn btn-warning" href="{% url 'cond_edit' condominio.id %}" >Editar</a>
                 <a class ="btn btn-danger" href="{% url 'cond_delete' condominio.id %}" onclick="return confirm ('Tem certeza que deseja excluir este imóvel?')">Excluir</a>
             </td>
         </tr>
         {% endfor %}
      </tbody>
  </table>

</div>
</div>
{% endblock %}