{% extends 'base.html' %}

{% block content %}
<div class = "card">
<div class="card-body">
 <h4> Tipos de Estado Conservação </h4>
 <hr>
<a class="btn btn-success" href="{% url 'estadoConserv_add' %}"> Inserir </a>
  <table class = "table table-striped">
      <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Código</th>
            <th>Ações</th>
        </tr>
      </thead>
      <tbody>
         {%  for estadoConser in estadoCons %}
         <tr>
             <td>{{ estadoConser.id  }} </td>
             <td>{{ estadoConser.nome }}</td>
             <td>{{ estadoConser.codigo }}</td>

             <td><button class='btn btn-warning'>Editar</button>
                 <button class='btn btn-danger'>Excluir</button>
             </td>
         </tr>
         {% endfor %}
      </tbody>
  </table>

</div>
</div>
{% endblock %}