{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
 <div class="card">
    <div class="card-body">
        <h4>Inserir Imóvel</h4>
        <hr>
         <form action="{% url 'imovel_add' %}" method="post">
            {% csrf_token %}
            {{  form|bootstrap }}

            <button class ="btn btn-success" type="submit">Salvar</button>
            <button class ="btn btn-warning" onclick="window.location.href='{% url 'imoveis' %}'">Cancelar</button>
        </form>
    </div>

 </div>


{% endblock %}
