{% extends 'base.html' %}


{% block content %}
<div class = "card">
<div class="card-body">
 <h4> Imóveis </h4>
 <hr>
 <a class ="btn btn-success" href="{% url 'imovel_add' %}">Inserir</a>
    <table class = "table table-striped">
      <thead>
        <tr>
            <th>ID</th>
            <th>Dta cadastro</th>
            <th>Tipo</th>
            <th>Condomínio</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>AC</th>
            <th>AT</th>
            <th>Estátus</th>
            <th>Padrão</th>
            <th>EC</th>
            <th>Idade</th>
            <th>Valor</th>
            <th>Acões</th>
        </tr>
      </thead>
      <tbody>
         {%  for imovel in imoveis %}

         <tr>
             <td>{{ imovel.id  }} </td>
             <td>{{ imovel.dtacadastro  }} </td>
             <td>{{ imovel.tipo.nome }}</td>
             <td>{{ imovel.nomecondominio.nome }} </td>
             <td>{{ imovel.bairro }}</td>
             <td>{{ imovel.cidade }} </td>
             <td>{{ imovel.aconstruida }} </td>
             <td>{{ imovel.atotal }} </td>
             <td>{{ imovel.status }} </td>
             <td>{{ imovel.padrao.nome }} </td>
             <td>{{ imovel.estadoconser.nome }} </td>
             <td>{{ imovel.idade }} </td>
             <td>{{ imovel.valordevenda }} </td>

             <td>
                 <a class ="btn btn-warning btn-sm" href="{% url 'editar' imovel.id %}">Editar</a>
                 <a class ="btn btn-danger btn-sm" href="{% url 'imovel_delete' imovel.id %}" onclick="return confirm ('Tem certeza que deseja excluir o imovel de id: {{ imovel.id }} ?  ')">Excluir</a>
             </td>
         </tr>
         {% endfor %}
      </tbody>
  </table>

</div>
</div>
{% endblock %}